body{
    background-color:#000;
    color: white;
    margin: 0;
    padding: 5px;
}

img{
    width: 100%;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 80px;
}

nav a{
    font-size: 14pt;
    color: white;
    text-decoration: none;
}